/*--FONT IMPORT------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Roboto:500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Public+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Nova+Round&display=swap');

/*--MAIN-------------------------------------*/
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  text-align: center;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/*
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
*/
section {
  min-height: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

h1, h3, a, li, div {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #898f93;
  text-transform: uppercase;
}

p {
  font-family: 'Lato', sans-serif;
  color: rgb(172, 172, 172);
}

h1, h3 {
  margin-top: 0;
}

h3 {
  font-size: 40px;
  padding-top: 8%;
  margin-bottom: 5px;
}

hr {
  width: 30px;
  height: 3px;
  background: none;
  border: 0;
  margin: 0 auto 40px auto;
}

#logo, #github, #discord, #twitter, #social, .page1, .page2, .page3, .pagetext, .color, li, img, .button, .hover, .topleft {
  transition: all 300ms;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
}

/*-Intro-----------------------------------------------------*/

#intro {
  width: 100%;
  height: 100%;
  background: #000;
  text-align: center;
}

#intropage1, #intropage2 {
  font-family: 'Lato', sans-serif;
  color: #fff;
  opacity: 0;
  transition: 3s opacity;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*--Scrollbar------------------------------------------------*/

.scrollbar {
  position: fixed;
  top: 35%;
}

.page1, .page2, .page3, .page4 {
  height: 40px;
  width: 100px;
  margin-left: 20px;
  border-left: 1px solid rgb(82, 82, 82);
}

.page1:hover, .page2:hover, .page3:hover, .page4:hover {
  border-color: rgb(172, 172, 172);
}

.pagetext {
  opacity: 0;
}

.page1:hover .pagetext, .page2:hover .pagetext, .page3:hover .pagetext, .page4:hover .pagetext {
  opacity: 1;
}

/*-Header----------------------------------------------------*/

header {
  transition: 0.2s background;
  width: 100%;
  height: 65px;
  position: fixed;
  top: 0;
  left: 0;
  background: none;
  z-index: 1;
  animation: load 3s;
}

#logo {
  width: 80px;
  float: left;
  margin: 10px 0 0 50px;
}

#logo:hover {
  opacity: 0.5;
}

#logo img {
  width: 150%;
  border-radius: 10px;
}


header nav .left {
  float: left;
  display: inline-block;
  font-size: 20px
}

header nav .right {
  float: right;
  display: inline-block;
  font-size: 20px
}


header nav li {
  font-family: 'Lato', sans-serif;
  color: rgb(172, 172, 172);
  margin-left: 25px;
}

.hover:hover {
  border-bottom: 1px solid rgb(172, 172, 172);
}

.src {
  margin-top: 1%;
}

.src:hover {
  border-bottom: 1px solid #000;
}

/*-Home----------------------------------------------------*/

#home {
  background: url(../img/5.png);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

#home p, #home h1 {
  margin: 240px auto 0 auto;
  font-size: 110px;
}

#home img {
  width: 32px;
  margin-top: 450px;
  opacity: 0.7;
  animation: load 3s;
}

#home img:hover {
  opacity: 1;
}

#johann {
  /*-webkit-animation: typing 2s steps(13, end);,
    blink-caret .5s step-end infinite alternate;*/
    /*border-right: 2px solid rgba(255,255,255,.75);*/
  font-family: 'Lato', sans-serif;
  overflow: hidden;
  /*font: bold 300% Consolas, Monaco, monospace;*/
  padding-top: 4px;
  color: #000;
  text-shadow:
  -1px -1px 0 rgb(172, 172, 172),
  1px -1px 0 rgb(172, 172, 172),
  -1px 1px 0 rgb(172, 172, 172),
  1px 1px 0 rgb(172, 172, 172); 
  animation: load 3s;
  text-transform: lowercase;
}

@keyframes load {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*-projects----------------------------------------------------*/

#projects {
  background-color: #151b20;
}

#work {
  width: 1000px;
  margin: 0 auto 0 auto;
  margin-left: 500px;
}

#work ul {
  padding: 0;
}

#work ul li {
  width: 30%;
  float: left;
  margin-bottom: 15px;
}

.workimg {
  width: 280px;
  height: 170px;
  border-radius: 5px;
}

.workimg:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

.topleft {
  position: absolute;
  top: 20px;
  left: 58px;
  font-size: 18px;
}

.topleftimg {
  position: absolute;
  top: 8px;
  left: 16px;
  width: 40px;
  height: 40px;
}

#topleftimg1 {
  top: 11px;
  left: 18px;
  width: 35px;
  height: 35px;
}

#topleftimg2 {
  top: 11px;
  left: 20px;
  width: 35px;
  height: 35px;
}

.workimg:hover ~ .topleft {
  position: absolute;
  top: 13px;
  left: 50px;
  font-size: 18px;
}

.workimg:hover ~ .topleftimg {
  top: 0px;
  left: 8px;
}

.workimg:hover ~ #topleftimg1 {
  top: 4px;
  left: 8px;
}

.workimg:hover ~ #topleftimg2 {
  top: 4px;
  left: 8px;
}

.workimg:hover ~ .color {
  top: -3px;
  left: 4px;
}

.container {
  position: relative;
}

.color {
  top: 4px;
  left: 15px;
  position: absolute;
  width: 100px;
  height: 50px;
  background-color: #151b20;
  border-radius: 20px;
}

#color1 {
  width: 125px;
}

#color2 {
  width: 180px;
}

#color3 {
  width: 103px;
}

.centerwork {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 25px;
}

.workimg:hover ~ .center {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

#center1 {
  font-size: 15px;
  color: rgb(0, 0, 0);
}

/*-Socials----------------------------------------------------*/

#socials {
  text-align: left;
  margin: 0;
  padding: 0;
  height: 1080px;
}

.twitter {
  width: 33.333%;
  height: 1080px;
  float: left;
  background: #1DA1F2;
}

.discord {
  width: 33.333%;
  height: 1080px;
  float: left;
  background: #333;
}

.github {
  width: 33.333%;
  height: 1080px;
  float: left;
  background: #7289da;
}

.logo {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}

.logo:hover {
  width: 60%;
}

/*-Team------------------------------------------------------*/

#team {
  height: 1080px;
  margin: 0;
  padding: 0;
}

#team div {
  float: left;
  height: 50%;
  width: 50%;
  background: #151b20;
}

.name, #team div h1{
  margin-top: 50px;
}

#team div img {
  border-radius: 1000px;
  width: 17%;
}

#team div a p {
  margin-top: 10px;
  color: #1DA1F2;
  margin-bottom: 0;
}

.whyeotm {
  margin-top: 10px;
  margin-bottom: 10px;
  text-transform: none;
}

.cuzeotm {
  margin-top: 0;
  margin-bottom: 0;
  text-transform: none;
}

/*-Footer----------------------------------------------------*/

footer {
  width: 100%;
  height: 50px;
  background-color: #3f3f3f;
}

footer p {
  font-size: 12px;
  color: #f0f0f0;
  padding-top: 21px;
  margin-top: 0;
  text-transform: none;
}

.left200px {
  margin-left: 200px;
}

.right200px {
  margin-right: 200px;
}

#twitter:hover {
  color: #1DA1F2;
}

#github:hover {
  color: #333;
}

#discord:hover {
  color: #7289da;
}
/*-Menu----------------------------------------------------*/
#context-menu {
  border: 3px soiled #fff;
  position: fixed;
  z-index: 10000;
  width: 150px;
  background: #1b1a1a;
  border-radius: 5px;
  display: none;
  text-align: left;
}

#context-menu .item {
  padding: 8px 10px;
  font-size: 15px;
  color: #eee;
  cursor: pointer;
  border-radius: inherit;
}


#context-menu .item:hover {
  /*background: #343434;*/
  background: #eee;
  color: #343434;
  border-radius: 5px;
}

#context-menu .line:hover {
  background: #1b1a1a;
  color: #eee;
}

#context-menu #twittera:hover {
  color: #1DA1F2;
}

#context-menu #githuba:hover {
  color: #333;
  background: #eee;
}

#context-menu #discorda:hover {
  color: #7289da;
}


#context-menu.visible {
  display: block;
}
